/**
 *      Contient le css de tout ce qui touche aux notifications
 */

.notifications {
    position: absolute;
    max-height: 60vh;
    overflow-y: scroll;
    z-index: 99;
    background: #FFFFFF;
    border: 0.1rem solid #1B1C23F7;
    padding-left  : 1.5rem;
    padding-right : 1.5rem;
    padding-bottom: 1rem;
    padding-top   : 1.0rem;
    box-shadow: 0 0 4rem #FFFFFFFF;
 }

.notifications-title {
    text-align: center;
    text-decoration: underline;
}

.notifications-counter {
    position: absolute;
    width: 1.2rem;
    z-index: 99;
    text-align: center;
    background: #EE0000;
    border-radius: 0.2rem;
    pointer-events: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.8rem;
    padding-top:0.2rem;
    transition: all 0.15s ease-in-out;
}


.notification {
    padding-top: 1.0rem;
    cursor: pointer;
}

.notification-content {
    padding-bottom: 0.2rem;
}

.notification-date {
    font-size: 0.7rem;
}
