 /* The toastbar - position it at the bottom and in the middle of the screen */
#toastbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 20rem; /* Set a default minimum width */
    margin-left: -10rem; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 1rem; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the toastbar */
    bottom: 2rem; /* 2rem from the bottom */
}

#toastbar.error {
    background-color: #FF2222;
}

#toastbar.warning {
    background-color: orange;
    color: orange;
}

#toastbar.fine {
    background-color: #22FF22;
}

/* Animations to fade the toastbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 2rem; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 2rem; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 2rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 2rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
} 