/**
 *      Contient le css de la barre de navigation (à droite vertical)
 */
 .aside {
 	display: block;
 	width: 13rem;
    height: 100%;
 	background-color:#1B1C23;
    box-shadow: -0.5vh 1vh 0.5vh 0.5vh rgba(0, 0, 0, 0.5);
    transition: 0.25s;
    overflow-x: hidden;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    overflow-x: hidden;
}

.aside-login-form {
	margin-top: 5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: center;
}

.aside .prompt {
	margin-top: 0.5rem;
}

.aside-login-labels {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
